<!-- ################ -->
<!-- dark header menu -->
<!-- ################ -->
<div class="ui top fixed inverted menu">
  <div class="header item">My Cohort</div>
  <a class="home_nav item" href="{%url 'students:cohorts'%}">
    <i class="large olive home icon"></i>home
  </a>
  <a class="add_cohort_nav item" href="{%url 'students:add'%}">
    <i class="large icons">
      <i class=" olive users icon"></i>
      <i class="inverted corner add icon"></i>
    </i> &nbsp add a cohort
  </a>
  <a class="instructors_nav item" href="{%url 'students:instructors'%}">
    <i class="large icons">
      <i class="olive student icon"></i>
      <i class="inverted corner eye icon"></i>
    </i> &nbsp instructors
  </a>
  <a class="add_instructor_nav item" href="{%url 'students:add_instructor'%}">
    <i class="large icons">
      <i class="olive student icon"></i>
      <i class="inverted corner add icon"></i>
    </i> &nbsp add an instructor
  </a>
  <div class="right menu">
    <a class="item" href="{%url 'students:index'%}"><i class="large olive sign out icon"></i>sign out</a>
  </div>
</div>
<!-- ################ -->
<!-- end header menu -->
<!-- ################ -->
