{% extends "students/base.html" %}
{% block menu %} {% endblock %}
{% block content %}
    <div class="ui container">
      <div class="ui hidden divider"></div>
      <div class="ui centered olive card" id="login_card">
        <div class="content">
          <h1 class="ui center aligned icon header">
            <div class="content">
              <i class="olive circular users icon"></i>
              My Cohort
              <h2 class="ui center aligned grey sub header">Login</h2>
            </div>
          </h1>
        </div>
        <div class="content">
          <form class="ui form" action="{% url 'students:login' %}" method="post">
            {% csrf_token %}
            <div class="field">
              <label>email</label>
              <input type="text" name="email" placeholder="email">
            </div>
            <div class="field">
              <label>password</label>
              <input type="password" name="password" placeholder="password">
            </div>
            <button class="ui right labeled icon button" type="submit">
              <i class="blue sign in icon"></i>
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
